.settings {
  display: flex;
}

.settingswrapper {
  flex: 9;
  padding: 20px;
}

.settingtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingstitleupdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: aliceblue;
}

.settingstitledelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsform {
  display: flex;
  flex-direction: column;
}

.settingspp {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingspp > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsppicon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.settingsppbutton:focus {
  outline-style: none;
}

.settingsform > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsinput {
  width: 30%;
}

.settingsform > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.settingssubmitbutton {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingssubmitbutton:hover {
  background-color: rgb(1, 114, 114);
}
