.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://images.pexels.com/photos/6964507/pexels-photo-6964507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.registertitle {
  font-size: 50px;
}

.registerform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerform > label {
  margin: 10px 0;
}

.registerinput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerinput:focus {
  outline: none;
}

.registerbutton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: wheat;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerloginbutton {
  position: absolute;
  top: 60px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  right: 20px;
  border: none;
  color: white;
  border-radius: 10px;
}
